.box {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0 auto;
    }
.box>* {
    height: 40px;
    width: 40px;
    border: 1px solid silver;
    border-radius: 5px;
    margin: 5px;
    line-height: 40px;
    }
body {
    text-align: center;
    height: 200px;
    width: 225px;
    }

html {
    height: 200px;
    width: 225px;
}

.box>*:hover {
    border: 3px solid lime;
    height: 36px;
    width: 36px;
    line-height: 36px;
    }

.icon {
    max-width: 100%;
    height: auto;
}

